<div class="row">
	<div class="col-md-10 col-sm-9">
    <input type="text" [(ngModel)]="searchString" (ngModelChange)="inputChanged()" 
      placeholder="{{placeHolderText}}" class="form-control">
  </div>
	<div class="col-md-2 col-sm-3">
    <button type="button" (click)="clearClicked()">Clear</button>
  </div>
</div>

<div *ngFor="let filter of filtered; index as i" (click)="countryClicked(i)" class="country-list">
	<span class="country-dropdown">{{filter | countryIso}}</span>
</div>